<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>暮らし</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'top' %}"><h1>中島ナビ</h1></a>
        </div>
    </header>

    <main>
        <h2>解析（準備中）</h2>
        <p>皆様の関心ごとを文字の大きさで表しています。</p>

        <section class="analytic-main">

        </section>

    </main>
    <footer>
        <div class="container">
            <p>&copy; 2025 Nakajima-Navi.com</p>
        </div>
    </footer>
</body>
</html>