{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8021009005741518"
        crossorigin="anonymous"></script>
        {% block head %}
        <title>Nakajima Channnel ~西淀川区中島の情報サイト&掲示板~</title>
        <meta name="description" content="西淀川区中島のあらゆる情報をアップロードしています。また、住民の皆様が交流することにより、集まった情報をわかりやすい形で提供することにより、住民の皆様の生活の向上に取り組んでいます。">
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Nakajima Channels</a></h1>
        </div>
        <div><a href="{% url 'top' %}">中島ナビへ>></a></div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer style="background-color: #333; color: #fff; padding: 30px; text-align: center;">
        <div style="margin-bottom: 20px;">
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-twitter"></i></a>
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-facebook"></i></a>
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2025 Nakajima-navi | <a href="#" style="color: #fff;">プライバシーポリシー</a> | <a href="#" style="color: #fff;">利用規約</a></p>
      </footer>
</html>