{% extends 'blog/base.html' %}
{% load humanize %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">{% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <div class="comment">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment_data" id="comment-{{ comment.id }}">
                <h5>{{ forloop.counter }}, &ensp;
                {% if comment.author != 'shohei' %}
                匿名
                {% else %}
                {{ comment.author }}
                {% endif %}
                &ensp;
                {{ comment.created_date }}
                </h5>
            </div>
            <div class="comment_contents">
            <p>{{ text|urlize }}</p>
                <h5 class="comment_text">{{ comment.text|urlize|linebreaksbr }}</h5>
            {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="{{ comment.title }}" style="width: auto; height: 80px;">{% endif %}
    
            <form action="{% url 'like_post_url' post_id=post.id comment_id=comment.id %}" method ="POST">{% csrf_token %}
                <button type="submit" name="like_button" value="1" class="save btn btn-default">👍{% if comment.good != None %}+{{comment.good}}{% endif %}</button>
            </form>
            <br/>
            </div>
        {% endfor %}
        
        <h2>Add a comment</h2>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">投稿</button>
        </form>
    
    </div>

{% endblock %}