<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="icon" href="{% static 'img/favicon1.png' %}" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8021009005741518"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中島ナビ</title>
    <meta name="description" content="西淀川区中島の情報サイト、中島ナビでは住民の方が知りたい情報を共有しています。
    また、住民同士がコミュニケーションをとることができる中島チャンネルを提供しており、そこでの情報が中島ナビに活用され、
    さらに良い情報ツールとして機能します。">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>中島ナビ</h1>
            <nav>
                <ul>
                    <li><a href="#">🏠</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <p>つながる、育てる、中島ナビ</p>
                <a href="{% url 'search_post' %}" class="btn">チャットを使ってみる</a>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h2>サービス紹介</h2>
                <div class="service-list">
                    <div class="service-item">
                        <a href="{% url 'search_post' %}"><h3>掲示板</h3></a>
                        <p>住民の皆さんが相談できるチャット機能です。安心して相談できる機能を実装していきます。</p>
                    </div>
                    <div class="service-item">
                        <div class="life"><a href="{% url 'life' %}"><h3>暮らし</h3></a></div>
                        <p>天気、ごみ収集日、皆様の暮らしに役立つ情報を網羅しています。</p>
                    </div>
                    <div class="service-item">
                        <div class="life"><a href="{% url 'analytic' %}"><h3>解析(準備中)</h3></a></div>
                        <p>掲示板を解析し、住民の需要や関心ごとを解析します。中島の環境整備や行政への働きかけを行なっていきます</p>
                    </div>
                    <div class="service-item">
                        <h3>ゲーム制作</h3>
                        <p>ゴミモンゲームを製作中</p>
                        <a href = "{% url 'map' %}">gomimon</a>
                        <a href = "/poopgame">うんこ資本主義</a>
                    </div>

                </div>
            </div>
        </section>

        <!-- --------------mission and promise section -->
        <section>
            <div class="container_center">
                <a href="{% url 'mission_promise' %}"><h2> Mission & Promise </h2></a>
                <p>デジタルの力で地域の暮らしに新しい風を。</p>
                
            </div>
        

        </section>
        <!-- -------------- -->
    </main>
    <footer style="background-color: #333; color: #fff; padding: 30px; text-align: center;">
        <div style="margin-bottom: 20px;">
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-twitter"></i></a>
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-facebook"></i></a>
          <a href="#" style="color: #fff; margin: 0 10px;"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2025 Nakajima-navi | <a href="{% url 'policy' %}" style="color: #fff;">プライバシーポリシー</a> | <a href="{% url 'term' %}" style="color: #fff;">利用規約</a></p>
    </footer>
</body>
</html>