{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="google-adsense-account" content="ca-pub-8021009005741518">
  <title>かいケツうんこ</title>
  <link rel="stylesheet" href="{% static 'poopgame/css/home.css' %}">
</head>
<body>

  <header>
    <h1>ようこそ！ {{ user.username|default:"ゲスト" }} <br>🍑かいケツうんこへ💩</h1>
    {% if user.is_authenticated %}
      <p>いまのうんP：<span id="point-count">{{ request.user.unppoint.point }}</span> うんP</p>
    {% endif %}
  </header>

  <main>
    <div class="game-menu">


        <a href="{% url 'poopadd' %}" class="game-btn poop-btn">➕ うんこたしざん</a>
        <a href="{% url 'unko_hikizan' %}" class="game-btn poop-btn">➖ うんこひきざん</a>
        <a href="{% url 'unko_kakezan' %}" class="game-btn poop-btn">✖ うんこかけざん</a>
        <a href="{% url 'child_chores' %}" class="game-btn poop-btn">🧹 おけつだい 🍑</a>
        <a href="{% url 'unko_shop' %}" class="game-btn poop-btn">🏬 おみせやさん 🪙</a>
        <a href="{% url 'weekly_ranking' %}" class="game-btn poop-btn">🏆　ランキング</a>
        <!-- <a href="{% url 'divide' %}" class="game-btn poop-btn">➗ うんこわり算</a> -->
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'poopgame_logout' %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="game-btn poop-btn">ログアウト💨</button>
        </form>
        {% else %}
        <a href="{% url 'poopgame_login' %}" class="game-btn poop-btn">ログインする💩</a>
      {% endif %}

    </div>

    <div class="poop-decoration">
      <img src="{% static 'poopgame/img/poop-smile.png' %}" alt="にこにこうんこ" class="floating-poop">
      <img src="{% static 'poopgame/img/poop-wink.png' %}" alt="ウィンクうんこ" class="floating-poop">
      <img src="{% static 'poopgame/img/poop-dance.png' %}" alt="踊るうんこ" class="floating-poop poop-dance">
    </div>
    <div>
      【更新情報】<br>
      250514 : ボーナスステージ追加。
    </div>
  </main>

  <footer>
    <p>© かいケツうんこ</p>
  </footer>

</body>
</html>
